
<ng-template #am>
  <span class="badge badge-light">am</span>
</ng-template>
<ng-template #pm>
  <span class="badge badge-light">pm</span>
</ng-template>

 
<div *ngIf="isShown()"  class="container">
    <h3 class="modal-title">Select allocation</h3>
    <div class="row">
        <div class="list-group">
            <button type="button" *ngFor="let allocation of swapAllocations" class="list-group-item list-group-item-action" (click)="swap(allocation)">
                  {{allocation.calendarDate | date:'EE d MMM' }}
                  <span class="badge badge-light" *ngIf="allocation.slot === 0; then am; else pm"></span>
                  &nbsp;
                  <span class="h5"> {{allocation.engineer.name}} </span>
    
                  <i class="fa fa-arrow-right pull-right"></i>
            </button>
          </div>
    </div>
</div>  