<div class="row text-center">
    <div class="col-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChangedHandler()">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChangedHandler()">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChangedHandler()">
          Next
        </div>
      </div>
    </div>
    <div class="col-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-4">
        <app-engineer></app-engineer>
    </div>
</div>

<div class="row">
  <div class="col-2">
      <app-swap></app-swap>
  </div>
  <div *ngIf="events" class="col-8">
      <mwl-calendar-month-view
        [viewDate]= "viewDate"
        [events]= "getFilteredEvents()"
        (dayClicked)="setViewDate($event.day)"
        [activeDayIsOpen]="isMenuOpen()">
      </mwl-calendar-month-view>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-2"></div>
  <div *ngIf="events" class="col-8">
    <mwl-calendar-week-view
      [viewDate]="weeklyViewDate"
      [events]="getFilteredEvents()">
    </mwl-calendar-week-view>
  </div>
</div>

