<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="row">&nbsp;</div>
  <h1>
    {{ title }} <img src="../assets/loading-wheel-transparent-57-192512.png"/>
  </h1>
<hr/>
</div>

<app-schedule></app-schedule>